:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pick: hsl(333, 80%, 67%);
  --dark-greyish-magenta: hsl(303, 10%, 53%);
  --light-greyish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --font-size: 15px;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  background-position: left top, bottom right;
  margin: 0;
  padding: 0;

}

h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;

  font-size: 2.3rem;
}

h2 {
  margin-top: 0;
  display: inline-block;
  margin-left: 1rem;
  font-size: 0.8rem;
  height: 1rem;
  color: hsl(300, 43%, 22%);
}


h3{
  color:hsl(0, 0%, 100%);
  font-size: 0.8rem;

width:70%;
float:right;

}

p {
  font-size: 0.9rem;
  width: 95%;
  color: hsl(300, 24%, 96%);
  font-family: 'League Spartan', sans-serif;
  margin-top:5rem;
}

svg {
  align-items: center;
}

.description {
  width: 60%;
  margin: 1rem auto;
  color:hsl(303, 10%, 53%);
}

.verfied-buyer{
  width:70%;
    font-size: 0.8rem;
    margin-left: 1rem;
    float:right;
}


.photo{
  float:left;
  border-radius: 100%;
  width:25%;
  margin-top:0.8rem;
}

@media (min-width:551px) {

body{
      background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
      background-repeat: no-repeat;
}

  h1 {
    text-align: left;
    width: 60%;
    margin: 1rem auto ;
  }

  .first-section {
    height: 2fr;
    width: 100%;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .container-reviews {
    align-items: center;
    border-radius: 10px;
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right:2rem;
    width: 40%;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 4rem;
    width: 50%;

  }

  .stars-one {
    height: 1.8rem;
    width: 20rem;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-top: 3.2rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0.7rem;

  }

  .stars-two {
    height: 1.8rem;
    width: 20rem;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    padding-bottom: 0.7rem;

  }

  .stars-three {
    height: 1.8rem;
    width: 20rem;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-left: 4rem;
    margin-bottom:1rem;
    padding-bottom: 0.7rem;
  }

  .img-1 {
    margin-left: 1rem;
    margin-top: 0.8rem;
  }

.bottom-section{
  display:flex;
  justify-content: center;
    margin-top:2rem;
}

.colton-smith{
background-color: hsl(300, 43%, 22%);
width:20%;
margin-left: 5rem;
margin-bottom:8rem;
padding:1rem;
border-radius: 10px;
}

.Irene-roberts{
  background-color: hsl(300, 43%, 22%);
  width:20%;
  margin-left: 2rem;
  margin-top:4rem;
  margin-bottom:5rem;
  padding:1rem;
  border-radius: 10px;
  }

.anne-wallace{
  background-color: hsl(300, 43%, 22%);
  width:20%;
  margin-left: 2rem;
  margin-top:7rem;
  margin-bottom:3rem;
  padding:1rem;
  border-radius: 10px;
  }


h3{
  margin-bottom:0;
  text-align: center;
}

.verfied-buyer{
  color:hsl(333, 80%, 67%);
  text-align: center;
  margin:0;
  margin-left: 0.23rem;
}
}


/********for smartphones********/

  @media (max-width:550px) {

body{
  background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
}
    h1 {
      text-align: center;
      margin:auto;
      width: 80%;
      margin-top:3rem;
    }

    h2{
      margin-top:2rem;
      text-align: center;
      }

      h3{
        float:left;
        color:hsl(0, 0%, 100%);
        margin-bottom:0;
        margin-left:1rem;
        margin-top:1.2rem;
      }

    p {
      font-size: 0.9rem;
      width: 95%;
      color: hsl(300, 24%, 96%);
      font-family: 'League Spartan', sans-serif;
      margin-top:6rem;
    }

    .title {
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      margin:1rem auto;
      width: 80%;

    }

    .description {
      width: 80%;
      display:flex;
      flex-direction: column;
      color:hsl(303, 10%, 53%);

    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

    }

    .container-reviews {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 80%;
      margin: auto;

    }

    .stars-one {
      background-color:  hsl(300, 24%, 96%);
      border-radius: 10px;
      width: 100%;
        margin-bottom:2rem;
    }

    .stars-two {
      background-color:  hsl(300, 24%, 96%);
      border-radius: 10px;
      margin-bottom:2rem;
    width: 100%;
    }

    .stars-three {
      background-color:  hsl(300, 24%, 96%);
      border-radius: 10px;
      width: 100%;
      margin-bottom:2rem;
    }


.img-1 {
  margin-left:1rem;
  margin-right: 0;
  justify-content: center;
}

  .colton-smith{
  background-color:  hsl(300, 43%, 22%);
  width:75%;
  padding:1rem;
  border-radius: 10px;
  margin:1rem auto;
  }

  .Irene-roberts{
    background-color:  hsl(300, 43%, 22%);
    width:75%;
    padding:1rem;
    border-radius: 10px;
    margin:1rem auto;

    }


  .anne-wallace{
    background-color:  hsl(300, 43%, 22%);
    width:75%;
    padding:1rem;
    border-radius: 10px;
    margin:1rem auto;
    }

    .photo{
      float:left;
      border-radius: 100%;
      width:17%;
      margin-top:0.8rem;
    }
    .verfied-buyer{
      width:50%;
        font-size: 0.8rem;
        margin-top:0.2rem;
        float:left;
      color:hsl(333, 80%, 67%);
    }

  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
